/* thanks:  http://jameschambers.com/2014/06/day-18-customizing-and-rendering-bootstrap-badges */

.badge-danger {
	background-color: #d9534f;
}

.badge-warning {
	background-color: #f0ad4e;
}

.badge-success {
	background-color: #5cb85c;
}

.badge-info {
	background-color: #5bc0de;
}

.badge-inverse {
	background-color: #333333;
}

.badge-white {
	background-color: #FFFFFF;
    color: #000000;
}
